body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f0f0f0;
  color: #333;
}

header {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: url('https://source.unsplash.com/featured/?fashion') center/cover no-repeat;
  color: white;
  padding: 100px 20px;
  text-align: center;
}

.btn {
  background: crimson;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 20px;
  display: inline-block;
}

footer {
  text-align: center;
  background: #111;
  color: white;
  padding: 20px;
}
